* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    overflow:hidden;
    font-family: 'Consolas', 'Courier New', "Courier Prime", 'BitstreamVeraSansMono', monospace ;
    text-align: justify;
    /* background-color:black */
  }

  /* td { */
    /* font-family: 'Consolas', 'BitstreamVeraSansMono', "Courier Prime", 'Courier New', ; */
    /* vertical-align: middle; */
    /* align-items: center; */
  /* } */

  i {
    vertical-align: middle;
    display: inline;
    height: 100%;
  }

  amp {
    background-color: white;
    color: black
  }

  .txt {
    /* font-family: 'Courier New', monospace; */
    background-color: black;
    color: white;
    padding: 2vh;
    padding-top: 1vh;
    padding-bottom: 0;
    font-size:small
  }

  .annotation {
    text-align: left
  }

  .container {
    display: grid;
    grid-template-columns: 6fr 5fr;
  }
  .left-half {
    /* display: grid; */
    align-items: center; /* Aligns vertically */
    justify-content: left; /* Aligns horizontally */
  }
  .right-half {
    /* display: grid; */
    align-items: center; /* Aligns vertically */
    justify-content: right; /* Aligns horizontally */
  }
  
  .hovertxt {
    background-color: transparent;
    color: white;
    position: absolute;
    top:0;
    left:0;
    font-size: 1vh;
    user-select: none;
  }

  .gameOfLife {
    top: 0;
    min-width: 100vw;
    min-height: 100vh;
  }

  .board {
    width: 100vw;
    height: 100vh;
  }
  
  .column {
    float: left;
    width: 50%;
    height: 100vh;
    position: relative;
  }

  .table-scroll {
    overflow-x: scroll;
    /* display: inline-table; */
  }

  .contact-item {
    display: flex;
    text-align: left;
    align-items: left;
    gap: 8px; /* Space between icon and text */
  }

  .contact-item a{
    /* text-decoration: none; */
    font-weight: bold;
  }

  #Name {
      font-size:0.85vh;
      display: flex;
      position:sticky;
      top:0;
      background-color:black;
      /* font-family:'Consolas', 'BitstreamVeraSansMono', "Courier Prime", 'Courier New', monospace !important;  */
      white-space:pre;
      letter-spacing:0;
      text-align: left;
      width: 100%;
      height: auto;
      overflow-x: scroll;
      margin-bottom: 0;
  }

  #NameAlt {
    letter-spacing: 0;
    font-size:5vh;
    display: none;
    position:sticky;
    width: 100%;
    /* top:0; */
    background-color:black;
    /* font-family:'Consolas', 'BitstreamVeraSansMono', "Courier Prime", 'Courier New',  !important;  */
    white-space:pre;
    letter-spacing:0;
    text-align: left;
    height: auto;
  }
  /* Style for both halves */
  #NameAltName {
    display: flex;
    padding: 2vh;
    padding-top: 5vh;
    padding-bottom: 0vh;
    padding-right: 0vh;
    text-align: left;
    overflow-x: scroll;
    line-height: 1;
    white-space: pre-wrap;
    word-wrap: break-word;
    hyphens: auto;
    width: 100%;
    /* font-size: 24px; */
    /* font-weight: bold; */
    /* color: white; */
  }

  #NameAltHead {
    display:flex;
    font-size:4vh;
    text-align: left;
    padding: 0vh;
    padding-top: 5vh;
    padding-left: 0.5vh;
    padding-bottom: 0.5vh;
    justify-content: left;
    line-height: 1;
    width: 100%;
    overflow-x: scroll;
    /* display: none; */
    /* font-size: 24px; */
    /* font-weight: bold; */
    /* color: white; */
  }

  #MyName {
    max-height: 17vh;
    overflow-y: scroll;
  }

  #cv-row {
    white-space: nowrap;
    padding-bottom: 0; 
    margin-bottom: 0;
    font-size: medium;
  }

  #page1 {
    display: flex;
    top: 12.25%;
    width: 35.75%;
    left: 7.1%;
    height: 74vh;
    position: absolute;
    display: inline;
    justify-content: center;
    background-color: black;
    color: white;
    overflow-y: scroll;
  }

  ::-webkit-scrollbar {
      width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    /* border-style: solid; */
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
    border-style: solid;
  }

  a:visited {
    color: inherit;
  }
  a:link {
    color: inherit;
  }

  


  /* .windowAdjust {
    background-color: white;
    border: 0.1em solid white;
    color: black;
    padding: 0;
    border: none;
    position: sticky;
    float: left;
    z-index: 2;
    top: 1vh;
    left: 1vh;
    width: 2vh;
    height: 2vh;
    font-weight: bold;
    font-size: 1.5vh;
    outline: none;
    box-shadow: none;
  }

  .windowAdjust:hover {
    background-color: black;
    color: white;
    padding: 0;
    border: 0.1em solid white;
    position: sticky;
    float: left;
    z-index: 2;
    top: 1vh;
    left: 1vh;
    width: 2vh;
    height: 2vh;
    font-weight: bold;
    font-size: 1.5vh;
    outline: none;
    box-shadow: none;
  }

  .windowAdjust:active {
    background-color: black;
    color:white;
    border: 0.15em solid white;
    padding: 0;
    position: sticky;
    float: left;
    z-index: 2;
    top: 1vh;
    left: 1vh;
    width: 2vh;
    height: 2vh;
    font-weight: bold;
    font-size: 1.5vh;
    outline: none;
    box-shadow: none;
  } */






  




  
  


  

  

  
  

  
  
  

  


  

  
