* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    overflow:hidden;
    font-family: monospace;
    /* background-color:black */
  }
  
  .hovertxt {
    background-color: transparent;
    color: white;
    position: absolute;
    top:0;
    left:0;
    font-size: 1vh;
    user-select: none;
  }

  .gameOfLife {
    top: 0;
    min-width: 100vw;
    min-height: 100vh;
  }

  .board {
    width: 100vw;
    height: 100vh;
  }
  
  .column {
    float: left;
    width: 50%;
    height: 100vh;
    position: relative;
  }

  #Name {
      font-size:0.85vh;
      display: flex;
      position:sticky;
      top:0;
      background-color:black;
      font-family:'Consolas', 'BitstreamVeraSansMono', "Courier Prime", 'Courier New', monospace !important; 
      white-space:pre;
      letter-spacing:0;
      text-align: left;
      width: 100%;
      height: auto;
      overflow-x: scroll;
  }

  #NameAlt {
    letter-spacing: 0;
    padding: 2vh;
    padding-top: 5vh;
    font-size:10vh;
    display: none;
    position:sticky;
    /* top:0; */
    background-color:black;
    font-family:"Courier Prime", 'Courier New', monospace !important; 
    white-space:pre;
    letter-spacing:0;
    text-align: left;
    height: auto;
    overflow-x: scroll;
    line-height: 1;
    white-space: pre-wrap;
    word-wrap: break-word;
    hyphens: auto;

}

  #page1 {
    display: flex;
    top: 12.25%;
    width: 35.75%;
    left: 7.1%;
    height: 74vh;
    position: absolute;
    display: inline;
    justify-content: center;
    background-color: black;
    color: white;
    overflow-y: scroll;
  }

  .txt {
    font-family: 'Courier New', monospace;
    background-color: black;
    color: white;
    padding: 2vh;
    padding-top: 1vh;
    font-size:small
  }

  .annotation {
    text-align: right
  }

  td {font-family: 'Courier New', monospace;}

  amp {
    background-color: white;
    color: black
  }

  ::-webkit-scrollbar {
      width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    /* border-style: solid; */
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
    border-style: solid;
  }

  a:visited {
    color: inherit;
  }
  a:link {
    color: inherit;
  }

  .table-scroll {
    overflow-x: scroll;
  }

  /* .windowAdjust {
    background-color: white;
    border: 0.1em solid white;
    color: black;
    padding: 0;
    border: none;
    position: sticky;
    float: left;
    z-index: 2;
    top: 1vh;
    left: 1vh;
    width: 2vh;
    height: 2vh;
    font-weight: bold;
    font-size: 1.5vh;
    outline: none;
    box-shadow: none;
  }

  .windowAdjust:hover {
    background-color: black;
    color: white;
    padding: 0;
    border: 0.1em solid white;
    position: sticky;
    float: left;
    z-index: 2;
    top: 1vh;
    left: 1vh;
    width: 2vh;
    height: 2vh;
    font-weight: bold;
    font-size: 1.5vh;
    outline: none;
    box-shadow: none;
  }

  .windowAdjust:active {
    background-color: black;
    color:white;
    border: 0.15em solid white;
    padding: 0;
    position: sticky;
    float: left;
    z-index: 2;
    top: 1vh;
    left: 1vh;
    width: 2vh;
    height: 2vh;
    font-weight: bold;
    font-size: 1.5vh;
    outline: none;
    box-shadow: none;
  } */






  




  
  


  

  

  
  

  
  
  

  


  

  
